<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="werules_generativeconfig" frontName="werules_generativeconfig">
            <module name="Werules_GenerativeConfig" />
        </route>
    </router>
</config>
